.container {
  display: flex;
  gap: 20rem;
  width: 95vw;
  padding: 1rem;
  background: linear-gradient(to top left, #e9ecef, #f8f9fa);
  gap: 55rem;
  padding-left: 5rem;
  position: fixed;
}
.left {
  display: flex;
  gap: 6rem;
  align-items: center;
}
.logo {
  color: #1c7ed6;
  font-weight: bold;
  font-size: 3rem;
}
p {
  font-size: 1.4rem;
  font-weight: bolder;
}
.right {
  display: flex;
  gap: 6rem;
  align-items: center;
}
.btn {
  border: none;
  padding: 1rem;
  font-weight: bolder;
  color: #f8f9fa;
  background: linear-gradient(to top left, #1971c2, #74c0fc);
  border-radius: 2rem;
}
